<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<style type="text/css">
body p {
	text-align: center;
	font-size: 36px;
}
#title {
	font-family: "微软雅黑 Light";
	font-size: larger;
}
</style>
</head>

<body>
<p id="title">请选择您想要进行的操作</p>
<p><a href="Proposal_query.html">提案查询</a></p>
<p><a href="Proposal_formation.html">提案编制</a></p>
<p><a href="Canonical_query.html">规范查询</a></p>
<p><a href="Canonical_formation.html">规范编制</a></p>
<p><a href="Information_maintenance.html">信息维护</a></p>
</body>
</html>
