<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<style type="text/css">
.title {
	background-color: #6C0;
	font-size: 36px;
	font-weight: bold;
	font-family: "微软雅黑 Light";
}
</style></head>

<body>
<center>
<div class="title">提案列表</div>

<table width="1566" height="150" border="1">
  <tr>
    <th width="140" scope="col"><form id="form1" name="form1" method="post" action="">
      <input type="checkbox" name="全选" id="全选" />
      全选
      <label for="全选"></label>
    </form></th>
    <th width="233" scope="col">编号</th>
    <th width="263" scope="col">提案名称</th>
    <th width="137" scope="col">作者</th>
    <th width="263" scope="col">截止日期</th>
    <th width="137" scope="col">状态</th>
    <th width="200" scope="col">附议数</th>
    <th width="141" scope="col">反对数</th>
  </tr>

  <tr th:each="s,iterStat : ${Proposals}" th:class="${iterStat.odd}? 'odd'">
    <td scope="row">
        <input type="checkbox" name="checkbox" id="checkbox" />
        <label for="checkbox"></label>
    </td>
    <td th:text=" ${s.getNo()}"></td>
    <td th:text=" ${s.getName()}"></td>
    <td th:text=" ${s.getAuthor()}"></td>
    <td th:text=" ${s.getExpiry()}"></td>
    <td th:text=" ${s.getStatus()}"></td>
    <td th:text=" ${s.getSupportNum()}"></td>
  </tr>

</table>

<form id="form3" name="form3" method="post" action="">
  <input type="submit" name="打印" id="打印" value="打印" />
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <strong><a href="Operation_main_interface.html"><em>取消</em></a></strong>
</form>
<p>&nbsp;</p>
</center>
</body>
</html>
