<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>

<body>
<div>
    <br><br>
    <div style="width:450px; height:530px;  background-color: white; border-radius: 25px; margin: auto;background: linear-gradient(#66CC00,rgba(129,236,0,0.77));left: 0;right: 0;top: 0;bottom: 0;">
        <div align="center">
            <br><br><br><br>
            <div style="font-size: 35px; color: rgba(255,255,255,0.90); font-weight: bold">入会申请</div>
            <br><br>
            <table>
                <form id="iform" th:action="@{/stu/insert}" th:method="get" th:object="${student}">
                    <tr>
                        <th>
                            <label>&nbsp;&nbsp;&nbsp;&nbsp;昵称&nbsp;</label>
                            <input type="text" th:field="*{username}"/>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <label>&nbsp;&nbsp;&nbsp;&nbsp;学号&nbsp;</label>
                            <input type="text" th:field="*{password}"/>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <label>&nbsp;&nbsp;&nbsp;&nbsp;性别&nbsp;</label>
                            <input type="text" th:field="*{sex}"/>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <label>&nbsp;&nbsp;&nbsp;&nbsp;姓名&nbsp;</label>
                            <input type="text" th:field="*{name}"/>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <label>&nbsp;&nbsp;&nbsp;&nbsp;生日&nbsp;</label>
                            <input type="text" th:field="*{birthday}"/>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <label>&nbsp;&nbsp;&nbsp;&nbsp;地址&nbsp;</label>
                            <input type="text" th:field="*{address}"/>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <label>&nbsp;&nbsp;&nbsp;推荐人</label>
                            <input type="text" th:field="*{people}"/>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <label>行业分会</label>
                            <input type="text" th:field="*{branch}"/>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <input type="submit" name="提交" id="提交" value="&nbsp;&nbsp;提交&nbsp;&nbsp;" />
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="reset" name="清空" id="清空" value="&nbsp;&nbsp;清空&nbsp;&nbsp;" />
                            <br><br><br>
                            <em>
                                <a href="WholeFrame.html">
                                    <strong>取消</strong>
                                </a>
                            </em>
                        </th>
                    </tr>
                </form>
            </table>
        </div>
    </div>
</div>
</body>
</html>
