<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>

<body>
<center>
<div>入会申请</div>
  <table>
  <form id="iform" th:action="@{/stu/insert}" th:method="get" th:object="${student}">
    <tr>
      <th>
      <label>昵称</label>
    <input type="text" th:field="*{username}"/>
      </th>
    </tr>
    <tr>
      <th>
    <label>学号</label>
    <input type="text" th:field="*{password}"/>
      </th>
    </tr>
    <tr>
      <th>
        <label>性别</label>
        <input type="text" th:field="*{sex}"/>
      </th>
    </tr>
    <tr>
      <th>
        <label>姓名</label>
        <input type="text" th:field="*{name}"/>
      </th>
    </tr>
    <tr>
      <th>
        <label>生日</label>
        <input type="text" th:field="*{birthday}"/>
      </th>
    </tr>
    <tr>
      <th>
        <label>地址</label>
        <input type="text" th:field="*{address}"/>
      </th>
    </tr>
    <tr>
      <th>
        <label>推荐人</label>
        <input type="text" th:field="*{people}"/>
      </th>
    </tr>
    <tr>
      <th>
        <label>行业分会</label>
        <input type="text" th:field="*{branch}"/>
      </th>
    </tr>
  </form>
  </table>

<p>&nbsp;</p>
<form id="form1" name="form1" method="post" action="">
  <input type="submit" name="提交" id="提交" value="提交" />
  &nbsp;
&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;
&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
<input type="reset" name="清空" id="清空" value="清空" />
&nbsp;
&nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp;
<em><a href="主页面.html"><strong>取消</strong></a></em><a href="主页面.html"><strong></strong></a>
</form>
<p>&nbsp;</p>
<p>&nbsp;</p>
</center>
</body>
</html>
