<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<style type="text/css">
.标题 {
	background-color: #6C0;
	font-size: 36px;
	font-weight: bold;
	font-family: "微软雅黑 Light";
}
</style></head>

<body>
<center>
<div>
  <p class="标题">提案列表</p>
</div>
<table width="1566" height="375" border="1">
  <tr>
    <th width="140" scope="col"><form id="form1" name="form1" method="post" action="">
      <input type="checkbox" name="全选" id="全选" />
      全选
      <label for="全选"></label>
    </form></th>
    <th width="233" scope="col">编号</th>
    <th width="263" scope="col">提案名称</th>
    <th width="137" scope="col">作者</th>
    <th width="263" scope="col">截止日期</th>
    <th width="137" scope="col">状态</th>
    <th width="200" scope="col">附议数</th>
    <th width="141" scope="col">反对数</th>
  </tr>
  <tr>
    <th scope="row"><form id="form2" name="form2" method="post" action="">
      <input type="checkbox" name="checkbox" id="checkbox" />
      <label for="checkbox"></label>
    </form></th>
    <td>&nbsp;&nbsp; &nbsp;     &nbsp; &nbsp;                          &nbsp; &nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; 01</td>
    <td>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<a href="提案1.html"> xxxxxxxxxxxxxxxxx</a></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <th scope="row"><form id="form3" name="form3" method="post" action="">
      <input type="checkbox" name="checkbox2" id="checkbox2" />
      <label for="checkbox2"></label>
    </form></th>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
<form id="form4" name="form4" method="post" action="">
  <input type="submit" name="打印" id="打印" value="打印" />
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <strong><a href="操作主界面.html"><em>取消</em></a></strong>
</form>
<p>&nbsp;</p>
</center>
</body>
</html>
