<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>

<body>
<center>
<div>入会申请</div>
<p>姓名
  <input type="text" name="姓名" id="姓名" />
  <label for="姓名"></label>
</p>
<p>性别
  <label for="textfield"></label>
  <input type="text" name="textfield" id="textfield" />
</p>
<p>出生日期
  <label for="出生日期"></label>
  <input type="text" name="出生日期" id="出生日期" />
</p>
<p>家庭住址
  <label for="家庭住址"></label>
  <input type="text" name="家庭住址" id="家庭住址" />
</p>
<p>联系方式
  <label for="联系方式"></label>
  <input type="text" name="联系方式" id="联系方式" />
</p>
<p>推荐人
  <label for="推荐人"></label>
  <input type="text" name="推荐人" id="推荐人" />
</p>
<p>行业分会
  <label for="行业分会"></label>
  <select name="行业分会" id="行业分会">
  </select>
</p>
<p>专委会
  <label for="专委会"></label>
  <select name="专委会" id="专委会">
  </select>
</p>
<p>&nbsp;</p>
<form id="form1" name="form1" method="post" action="">
  <input type="submit" name="提交" id="提交" value="提交" />
  &nbsp;
&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;
&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
<input type="reset" name="清空" id="清空" value="清空" />
&nbsp;
&nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp;
<em><a href="主页面.html"><strong>取消</strong></a></em><a href="主页面.html"><strong></strong></a>
</form>
<p>&nbsp;</p>
<p>&nbsp;</p>
</center>
</body>
</html>
